:root {
  --color-primary: #000;
  --color-brand: #0cb8b6;
  --color-accent: #ff6900;
  --color-success: #0cb8b6;
  --color-warning: #ff6900;
  --color-danger: #cf2e2e;
  --color-text-primary: #222;
  --color-text-secondary: #444;
  --color-text-tertiary: #abb8c3;
  --color-text-alt: #fff;
  --color-border: #e3e3e4;
  --color-background: #fff;
  --color-background-hover: #eee;
  --color-background-alt: #f1f1f1;
  --color-background-field: #f1f1f2;
}
