@import "./_mixins.module";

.form {
  --label-gap: var(--form-label-gap, 4px);
  --control-height: var(--form-control-height, 48px);
  --control-radius: var(--form-control-radius, 8px);
  --control-inline-padding: var(--form-control-inline-padding, 16px);
}

.row {
  display: flex;
  justify-self: stretch;
  gap: var(--space-big);
  max-width: 600px;
  width: 100%;

  & + & {
    margin-block-start: var(--space-big);
  }

  @include device(mobile) {
    display: block;
  }
}

.field {
  flex: 1;

  @include device(mobile) {
    & + & {
      margin-block-start: var(--space-big);
    }
  }
}

.input {
  flex: 1;
  width: 100%;
  height: var(--control-height);
  padding-inline: var(--control-inline-padding);
  border-radius: var(--control-radius);
  border: 1px solid var(--color-border-contrast);

  &:focus {
    border-color: var(--color-focus);
    outline-color: var(--color-focus);
  }
}

.label {
  display: block;
  margin-block: 0 var(--label-gap);
  font-weight: 600;
}
