.predisposition {
  position: relative;
  border-radius: 8px;
  padding-block: var(--space-base);
  border: 1px solid var(--color-border-contrast);
  background: var(--color-background);
}

.media {
  height: 360px;
  margin-inline: var(--space-base);
  border-radius: 4px;
  background: var(--color-text-tertiary);
  text-align: center;
}

.poster {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 60px;
  line-height: 1;
  color: var(--color-background-alt);
}

.progress {
  margin-block: var(--space-base);
  padding-inline: var(--space-base);
}

.content {
  margin-block: var(--space-base);
  padding-inline: var(--space-base);
}

.title {
  margin: 0;
  font-size: var(--font-large);
  font-weight: var(--font-medium);
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block: var(--space-base);
  padding-inline: var(--space-base);
}

.badge {
  padding: 12px var(--space-base);
  border-radius: 24px;
  background: var(--color-text-tertiary);
}

.name {
  margin: 0;
  font-size: var(--font-base);
  font-weight: var(--font-medium);
  color: var(--color-text-tertiary);
}

.description {
  margin-block: var(--space-base);
  padding-inline: var(--space-base);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--space-base);
}

.submitLink {
  flex: 1;
  display: flex;
  text-decoration: none;
}

.submit {
  flex: 1;
}
